<header class="header header-top-transparent">
    <!--top bar-->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 hidden-sm-down">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#"><i class="ion-ios-telephone"></i> +01 1800 495 593</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ion-email"></i> support@resto.com</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 text-right">
                    <ul class="list-inline level-2">
                        <li class="b-table list-inline-item"><a href="#" class=" waves-float waves-button">Book a table</a></li>
                        <li class="lang list-inline-item"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Lang </a>
                            <ul class="dropdown-menu lang-dropdown">
                                <li><a href="#"><img class="flag" src="assets/images/spanish.png" alt="Spanish">Spanish</a></li>
                                <li><a href="#"><img class="flag" src="assets/images/italy.png" alt="Italian">Italian</a></li>
                                <li><a href="#"><img class="flag" src="assets/images/german.png" alt="German">German</a></li>
                                <li><a href="#"><img class="flag" src="assets/images/fr.png" alt="French">French</a></li>
                                <li><a href="#"><span><img class="flag" src="assets/images/usa-flag.png" alt="English">English</span></a></li>
                                <li><a href="#"><img class="flag" src="assets/images/jp.png" alt="Japanise">Japanise</a></li>
                                <li><a href="#"><img class="flag" src="assets/images/in.png" alt="Hindi">Hindi</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--end top bar-->           
    <!--main navigation-->
    <div id="sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 63.2px;"><nav class="navbar navbar-light navbar-expand-lg navbar-static-top sticky-header" style="width: 1583px; position: fixed; top: 0px; z-index: auto;">
        <div class="container">                   
            <div class="navbar-header">
                <button type="button" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right collapsed" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false" aria-controls="navbarNavDropdown">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index-2.html">

                    <img src="assets/images/logo-light.png" alt="logo" class="logo-default">
                    <img src="assets/images/logo-dark.png" alt="logo" class="logo-scroll">

                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown" style="max-height: 446.117px;">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="reservation.html">Acceuil</a></li>
                    {%if menu_primaire|count > 0 %}
                    {%for categorie in menu_primaire %}
                        <li class="nav-item"><a class="nav-link" href="reservation.html">{{categorie[1]}}</a></li>
                    {%endfor%}
                    {%endif%}

                    {%if menu_secondaire|count > 0 %}
                    <li class="dropdown nav-item">
                        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Autres <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {%for categorie in menu_secondaire %}
                            <li><a class="dropdown-item" href="shop-products.html">{{categorie[1]}}</a></li>
                            {%endfor%}
                        </ul>
                    </li>
                    
                    {%endif%}
                </ul>
            </div><!--/.nav-collapse -->
            <!--cart icon-->
            <div class="float-right cart-nav nav-item">
                <div id="panier">
                    {% include 'elements/internaute/jquery_page/panier.html'%}
                </div>

            </div>
        </div><!--/.container-fluid -->
    </nav></div>
</header>