<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='authentification/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/vendor/animate/animate.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='authentification/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../../static/authentification/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post">
                    {{ form.csrf_token }}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Connexion
					</span>

                    {% with messages= get_flashed_messages(with_categories=true) %}
                            {% if messages  %}
                            {% for category, message in messages %}
                            <div class="alert text-center alert-{{ category }}">
                                <b>{{ message }}</b>
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                            
                    <div class="wrap-input100 validate-input"  data-validate = "Votre username">
                        <!-- <label>Prénom</label> -->
                        {% if form.username.errors %}
                        {{ form.username(class="input100  is-invalid", placeholder="Username")}}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.username(class="input100", placeholder="Username")}}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        {% endif %}
                    </div>


                    <div class="wrap-input100 validate-input" data-validate = "Votre mot de passe">
                        <!-- <label>Prénom</label> -->
                        {% if form.password.errors %}
                        {{ form.password(class="input100  is-invalid", placeholder="Username")}}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="input100", placeholder="Username")}}
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                        {% endif %}
                    </div>


					<div class="contact100-form-checkbox">
                        {{ form.remember(class="input-checkbox100", id="ckb1", placeholder="Username")}}
						<label class="label-checkbox100" for="ckb1">
							Souvenez - vous
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" id="submit"  name="submit" type="submit" >
							Connexion
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Changer mot de passe?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{ url_for('static', filename='authentification/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{ url_for('static', filename='authentification/vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='authentification/js/main.js')}}"></script>

</body>
</html>