{% extends 'layouts/internaute.html' %}

<!-- style css -->

{% block css %}
{% include 'elements/internaute/css.html'%}
{%endblock%}


<!-- style header -->

{% block header %}
{% include 'elements/internaute/header.html'%}
{%endblock%}




<!-- style header -->

{% block body %}
{% include 'elements/internaute/_body-categorie.html'%}
{%endblock%}



<!-- style footer -->

{% block footer %}
{% include 'elements/internaute/footer.html'%}
{%endblock%}


<!-- style js -->

{% block js %}
{% include 'elements/internaute/js.html'%}
{%endblock%}